*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(13, 13, 13);
    min-width: 100vh;
    transition: 0.5s;
}
body.toggleBlanco{
    background-color: aliceblue;
}


#toggle {
    height: 160px;
    width: 320px;
    background: #1b1b1b;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    appearance: none;
    border-radius: 160px;
    &.toggleBlanco{
        background-color: aliceblue;
        box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                    inset 0 2px 8px rgba(0, 0, 0, 0.1),
                    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
        .circulo{
            left: 160px;
            box-shadow: 0 8px 40px rgba(168, 168, 168, 0.5),
                        inset 4px 4px rgba(184, 184, 184, 0.724),
                        inset -4px 4px rgba(214, 214, 214, 0.724);
            background: linear-gradient(to bottom, rgba(179, 179, 179, 0.43), rgba(0, 0, 0, 0.613));
        }
    }
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    content: "";
    background: linear-gradient(to bottom, rgba(78, 78, 78, 0.43), rgba(0, 0, 0, 0.43));
    border-radius: 50vh;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 40px rgba(124, 124, 124, 0.5),
                inset 4px 4px rgba(255, 255, 255, 0.2),
                inset -4px 4px rgba(214, 214, 214, 0.2);
}

